In [1]:
import pandas as pd
import numpy as np
import random
import pickle

## Creating the phrases datasets
+ getting the dataset
+ (select the ones that have no comments - later delete this part)
+ separate into:
    + original_phrases: the ones that came from Wikipedia
    + ground truths (only the changes):
        + all_female_phrases_gt: the ones where the entire universe is feminine
        + all_male_phrases_gt: the ones where the entire universe is masculine
        + female_sub_phrases_gt: the ones where only what is related to the subject is feminine
        + male_sub_phrases_gt: the ones where only what is related to the subject is masculine
    + complete phrases (change not NaN in ground truths in the original phrases):
        + final_all_fem: the ones where the entire universe is feminine
        + final_all_male: the ones where the entire universe is masculine
        + final_subj_fem: the ones where only what is related to the subject is feminine
        + final_subj_male: the ones where only what is related to the subject is masculine
+ for every line of the changed datasets copy the original words for the NaN places
+ choose randomly the names and surnames and add them to their spots

In [2]:
df_original=pd.read_excel('all_phrases.xlsx',index_col=None, header=None)

/home/martao/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
df_original

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,Original,Shortly,afterwards,",",he,visits,Netherfield,",",...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,All Female,NaN,NaN,NaN,she,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,All Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Subject Female,NaN,NaN,NaN,she,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Subject Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8430,NaN,NaN,Original,His,wife,tends,to,Louisa,",",and,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8431,NaN,NaN,All Female,Her,NaN,NaN,NaN,name_female_1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8432,NaN,NaN,All Male,NaN,husband,NaN,NaN,name_male_1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8433,NaN,NaN,Subject Female,NaN,NaN,NaN,NaN,name_female_1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8434,NaN,NaN,Subject Male,NaN,husband,NaN,NaN,name_female_1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df=df_original.copy()
df=df[df[0].isna()] #here I deleted all the phrases that should be checked

original_phrases=df[df[2]=='Original'].drop([0,1,2],axis=1)

all_female_phrases_gt=df[df[2]=='All Female'].drop([0,1,2],axis=1)
all_male_phrases_gt=df[df[2]=='All Male'].drop([0,1,2],axis=1)
female_sub_phrases_gt=df[df[2]=='Subject Female'].drop([0,1,2],axis=1)
male_sub_phrases_gt=df[df[2]=='Subject Male'].drop([0,1,2],axis=1)

print(int(df_original.shape[0]/5),original_phrases.shape,all_female_phrases_gt.shape,all_male_phrases_gt.shape,female_sub_phrases_gt.shape,male_sub_phrases_gt.shape)

1687 (1610, 29) (1610, 29) (1610, 29) (1610, 29) (1610, 29)

In [5]:
all_female_phrases_gt.index
#original_phrases.index

Int64Index([   1,    6,   11,   16,   21,   26,   31,   36,   41,   46,
            ...
            8381, 8386, 8391, 8396, 8401, 8406, 8411, 8416, 8426, 8431],
           dtype='int64', length=1610)

In [6]:
original_phrases

,3,4,5,6,7,8,9,10,11,12,...,22,23,24,25,26,27,28,29,30,31
0,Shortly,afterwards,",",he,visits,Netherfield,",",Mr.,Bingley,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,He,appears,attracted,to,Jane,Bennet,(,the,eldest,Bennet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,He,declines,to,dance,with,Elizabeth,(,the,second-eldest,Bennet,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
15,He,is,a,pompous,",",obsequious,clergyman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,After,learning,that,Jane,may,soon,be,engaged,",",he,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8405,Andersen,'s,mother,",",Anne,Marie,Andersdatter,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8410,A,girl,named,Riborg,Voigt,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8415,Stephen,'s,father,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8425,Her,brother,Charles,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8430,His,wife,tends,to,Louisa,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
all_female_phrases_gt

,3,4,5,6,7,8,9,10,11,12,...,22,23,24,25,26,27,28,29,30,31
1,NaN,NaN,NaN,she,NaN,NaN,NaN,Mrs.,surname_1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,She,NaN,NaN,NaN,name_female_1,surname_1,NaN,NaN,NaN,surname_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,She,NaN,NaN,NaN,NaN,name_female_1,NaN,NaN,NaN,surname_1,...,NaN,NaN,NaN,her,NaN,NaN,NaN,NaN,NaN,NaN
16,She,NaN,NaN,NaN,NaN,NaN,clergywoman,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,name_female_1,NaN,NaN,NaN,NaN,NaN,she,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8406,name_female_1,NaN,NaN,NaN,name_female_2,name_female_3,surname_1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8411,NaN,NaN,NaN,name_female_1,surname_1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8416,name_female_1,NaN,mother,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8426,NaN,sister,name_female_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8431,Her,NaN,NaN,NaN,name_female_1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def change_words(original_phrase,ground_truth):
    new_phrase=original_phrase.copy()
    for j in list(ground_truth.index):
        if not pd.isna(ground_truth.loc[j]):
            new_phrase.loc[j]=ground_truth.loc[j]
    return list(new_phrase)

In [9]:
all_fem=[]
all_male=[]
subj_fem=[]
subj_male=[]
for idx in list(original_phrases.index):
    all_fem_phrase=change_words(original_phrases.loc[idx],all_female_phrases_gt.loc[idx+1])
    all_fem.append(all_fem_phrase)
    
    all_male_phrase=change_words(original_phrases.loc[idx],all_male_phrases_gt.loc[idx+2])
    all_male.append(all_male_phrase)
    
    subj_fem_phrase=change_words(original_phrases.loc[idx],female_sub_phrases_gt.loc[idx+3])
    subj_fem.append(subj_fem_phrase)
    
    subj_male_phrase=change_words(original_phrases.loc[idx],male_sub_phrases_gt.loc[idx+4])
    subj_male.append(subj_male_phrase)
    
all_fem=pd.DataFrame(all_fem)
all_male=pd.DataFrame(all_male)
subj_fem=pd.DataFrame(subj_fem)
subj_male=pd.DataFrame(subj_male)

In [10]:
all_fem

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",she,visits,Netherfield,",",Mrs.,surname_1,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,She,appears,attracted,to,name_female_1,surname_1,(,the,eldest,surname_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,She,declines,to,dance,with,name_female_1,(,the,second-eldest,surname_1,...,enough,to,tempt,her,.,NaN,NaN,NaN,NaN,NaN
3,She,is,a,pompous,",",obsequious,clergywoman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,name_female_1,may,soon,be,engaged,",",she,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,name_female_1,'s,mother,",",name_female_2,name_female_3,surname_1,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,girl,named,name_female_1,surname_1,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,name_female_1,'s,mother,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,Her,sister,name_female_1,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,Her,wife,tends,to,name_female_1,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
all_male

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",he,visits,Netherfield,",",Mr.,surname_1,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,He,appears,attracted,to,name_male_1,surname_1,(,the,eldest,surname_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,He,declines,to,dance,with,name_male_1,(,the,second-eldest,surname_1,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,He,is,a,pompous,",",obsequious,clergyman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,name_male_1,may,soon,be,engaged,",",he,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,name_male_1,'s,father,",",name_male_2,name_male_3,surname_1,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,boy,named,name_male_1,surname_1,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,name_male_1,'s,father,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,His,brother,name_male_1,notices,that,he,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,His,husband,tends,to,name_male_1,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
subj_fem

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",she,visits,Netherfield,",",Mr.,surname_1,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,She,appears,attracted,to,name_female_1,surname_1,(,the,eldest,surname_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,She,declines,to,dance,with,name_female_1,(,the,second-eldest,surname_1,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,She,is,a,pompous,",",obsequious,clergywoman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,name_female_1,may,soon,be,engaged,",",she,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,name_male_1,'s,mother,",",name_female_2,name_female_3,surname_1,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,girl,named,name_female_1,surname_1,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,name_male_1,'s,mother,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,Her,sister,name_female_1,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,His,wife,tends,to,name_female_1,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
subj_male

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",he,visits,Netherfield,",",Mr.,surname_1,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,He,appears,attracted,to,name_female_1,surname_1,(,the,eldest,surname_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,He,declines,to,dance,with,name_female_1,(,the,second-eldest,surname_1,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,He,is,a,pompous,",",obsequious,clergyman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,name_female_1,may,soon,be,engaged,",",he,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,name_male_1,'s,father,",",name_male_2,name_male_3,surname_1,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,boy,named,name_male_1,surname_1,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,name_male_1,'s,father,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,Her,brother,name_male_1,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,His,husband,tends,to,name_female_1,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Changes to the names and surnames
+ for the surnames I deleted the ones that had "'" such as O'brain (that's why there are only 248 surnames and not 250)
+ for both I deleted the (sur)names that ended in "s"

In [14]:
female_names = pd.read_csv('Top250Female1996-2019.txt', sep="\n", header=None)
male_names = pd.read_csv('Top250Male1996-2019.txt', sep="\n", header=None)
surnames = pd.read_csv('Top250Surnames1991-2000.txt', sep="\n", header=None) 

print(female_names.shape,male_names.shape,surnames.shape)

(250, 1) (250, 1) (248, 1)

In [15]:
female_names=pd.DataFrame([name for name in list(female_names[0]) if name[-1]!='s'])
male_names=pd.DataFrame([name for name in list(male_names[0]) if name[-1]!='s'])
surnames=pd.DataFrame([name for name in list(surnames[0]) if (name[-1]!='s' or name.find("'") != -1)])

female_names=list(name[0] for name in female_names.values)
male_names=list(name[0] for name in male_names.values)
surnames=list(name[0] for name in surnames.values)

print(len(female_names),len(male_names),len(surnames))

245 231 193

In [16]:

def change_names(phrase):
    p=phrase.copy()

    for word_idx in list(p.index):
        if str(p.loc[word_idx])[:9]=='name_male':
            p.loc[word_idx]=male_names[int(p.loc[word_idx][-1])-1] #in these phrases the biggest amount of different names is 4 but if there are more than 9, use the str.rfind
            #print(1)
        elif str(p.loc[word_idx])[:11]=='name_female':
            p.loc[word_idx]=female_names[int(p.loc[word_idx][-1])-1]
            #print(2)
        elif str(p.loc[word_idx])[:7]=='surname':
            if p.loc[word_idx][-2:]=='pl':
                p.loc[word_idx]=surnames[int(p.loc[word_idx][-4])-1]+'s'
             #   print(3)
            else:
                p.loc[word_idx]=surnames[int(p.loc[word_idx][-1])-1]
              #  print(4)
    #print(p)
    return p

In [17]:
final_all_fem=[]
final_all_male=[]
final_subj_fem=[]
final_subj_male=[]
for idx in all_fem.index:
    random.shuffle(female_names)
    random.shuffle(male_names)
    random.shuffle(surnames)
    
    phrase1=change_names(all_fem.iloc[idx])
    final_all_fem.append(phrase1)
    
    phrase2=change_names(all_male.iloc[idx])
    final_all_male.append(phrase2)
    
    phrase3=change_names(subj_fem.iloc[idx])
    final_subj_fem.append(phrase3)
    
    phrase4=change_names(subj_male.iloc[idx])
    final_subj_male.append(phrase4)

In [18]:
final_all_fem=pd.DataFrame(final_all_fem)
final_all_fem

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",she,visits,Netherfield,",",Mrs.,Bradley,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,She,appears,attracted,to,Lucie,Scott,(,the,eldest,Scott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,She,declines,to,dance,with,Maisie,(,the,second-eldest,Sullivan,...,enough,to,tempt,her,.,NaN,NaN,NaN,NaN,NaN
3,She,is,a,pompous,",",obsequious,clergywoman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,Jodie,may,soon,be,engaged,",",she,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,Ava,'s,mother,",",Milly,Mya,Walton,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,girl,named,Edie,Sutton,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,Lyla,'s,mother,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,Her,sister,Kate,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,Her,wife,tends,to,Florence,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
final_all_male=pd.DataFrame(final_all_male)
final_all_male

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",he,visits,Netherfield,",",Mr.,Bradley,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,He,appears,attracted,to,Jakub,Scott,(,the,eldest,Scott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,He,declines,to,dance,with,Caleb,(,the,second-eldest,Sullivan,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,He,is,a,pompous,",",obsequious,clergyman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,Freddie,may,soon,be,engaged,",",he,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,Adam,'s,father,",",Scott,Robbie,Walton,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,boy,named,Stephen,Sutton,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,William,'s,father,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,His,brother,Matthew,notices,that,he,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,His,husband,tends,to,Billy,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
final_subj_fem=pd.DataFrame(final_subj_fem)
final_subj_fem

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",she,visits,Netherfield,",",Mr.,Bradley,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,She,appears,attracted,to,Lucie,Scott,(,the,eldest,Scott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,She,declines,to,dance,with,Maisie,(,the,second-eldest,Sullivan,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,She,is,a,pompous,",",obsequious,clergywoman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,Jodie,may,soon,be,engaged,",",she,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,Adam,'s,mother,",",Milly,Mya,Walton,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,girl,named,Edie,Sutton,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,William,'s,mother,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,Her,sister,Kate,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,His,wife,tends,to,Florence,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
final_subj_male=pd.DataFrame(final_subj_male)
final_subj_male

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,Shortly,afterwards,",",he,visits,Netherfield,",",Mr.,Bradley,'s,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,He,appears,attracted,to,Lucie,Scott,(,the,eldest,Scott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,He,declines,to,dance,with,Maisie,(,the,second-eldest,Sullivan,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,He,is,a,pompous,",",obsequious,clergyman,who,intends,to,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,After,learning,that,Jodie,may,soon,be,engaged,",",he,...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,Adam,'s,father,",",Scott,Robbie,Walton,",",was,an,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,A,boy,named,Stephen,Sutton,was,the,unrequited,love,of,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,William,'s,father,gets,into,debt,and,the,family,leaves,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,Her,brother,Matthew,notices,that,she,is,less,lively,after,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,His,husband,tends,to,Florence,",",and,the,children,come,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creating the two datasets
+ There are two datasets:
    + one where the sentences are completly female or completly male
    + one where the subject (and words related to it) are female or male

+ For each dataset randomly half of the indexes are chosen to be male and the other half female and these are the phrases that will have a target value of 0 for female and 1 for male.

### All same gender
+ from the datasets:
    + final_all_male
    + final_all_female
+ to the dataset:
    + data_all_same

+ Creating datasets:
    + receives a dataframe of phrases/tokens
    + chooses the indexes that will be male
    + adds a column in the beginning with the target value
    + saves the dataset
    + returns dataset and male indexes

In [24]:

def Create_Dataset(dataframe_female,dataframe_male,save=True,name=''):
    #randomly choosing the indexes that will be male (target=1)
    indexes=list(range(len(dataframe_male)))
    indexes_male=random.sample(indexes, k = int(len(indexes)/2))
    indexes_female=[i for i in list(range(len(dataframe_male))) if i not in indexes_male]

    #choosing the phrases
    df_male=dataframe_male.iloc[indexes_male]
    df_female=dataframe_female.iloc[indexes_female]
    
    #adding the target column (1st column)
    df_male.insert(0, 'target', np.ones(len(indexes_male)))
    df_female.insert(0, 'target', np.zeros(len(indexes_male)))

    #concatenate dataframes to create dataset
    df= pd.concat([df_male,df_female])
    df=df.sort_index()
    
    if save:  
        with open(name+'.pkl', 'wb') as f:
            pickle.dump(df,f)
    
    return df, indexes_male, indexes_female

In [25]:
Create_Dataset(final_all_fem,final_all_male,name='data_all_same')
Create_Dataset(final_subj_fem,final_subj_male,name='data_subj')

(      target        0           1          2        3         4            5  \
 0        0.0  Shortly  afterwards          ,      she    visits  Netherfield
 1        1.0       He     appears  attracted       to     Lucie        Scott
 2        1.0       He    declines         to    dance      with       Maisie
 3        0.0      She          is          a  pompous         ,   obsequious
 4        1.0    After    learning       that    Jodie       may         soon
 ...      ...      ...         ...        ...      ...       ...          ...
 1605     0.0     Adam          's     mother        ,     Milly          Mya
 1606     0.0        A        girl      named     Edie    Sutton          was
 1607     1.0  William          's     father     gets      into         debt
 1608     1.0      Her     brother    Matthew  notices      that          she
 1609     1.0      His     husband      tends       to  Florence            ,

                 6           7              8  ...      19   20     21      22  \
 0               ,         Mr.        Bradley  ...       .  NaN    NaN     NaN
 1               (         the         eldest  ...     NaN  NaN    NaN     NaN
 2               (         the  second-eldest  ...  enough   to  tempt     him
 3     clergywoman         who        intends  ...     NaN  NaN    NaN     NaN
 4              be     engaged              ,  ...    both  age    and  beauty
 ...           ...         ...            ...  ...     ...  ...    ...     ...
 1605       Walton           ,            was  ...     NaN  NaN    NaN     NaN
 1606          the  unrequited           love  ...     NaN  NaN    NaN     NaN
 1607          and         the         family  ...     NaN  NaN    NaN     NaN
 1608           is        less         lively  ...     NaN  NaN    NaN     NaN
 1609          and         the       children  ...       .  NaN    NaN     NaN

        23   24   25   26   27   28
 0     NaN  NaN  NaN  NaN  NaN  NaN
 1     NaN  NaN  NaN  NaN  NaN  NaN
 2       .  NaN  NaN  NaN  NaN  NaN
 3     NaN  NaN  NaN  NaN  NaN  NaN
 4       .  NaN  NaN  NaN  NaN  NaN
 ...   ...  ...  ...  ...  ...  ...
 1605  NaN  NaN  NaN  NaN  NaN  NaN
 1606  NaN  NaN  NaN  NaN  NaN  NaN
 1607  NaN  NaN  NaN  NaN  NaN  NaN
 1608  NaN  NaN  NaN  NaN  NaN  NaN
 1609  NaN  NaN  NaN  NaN  NaN  NaN

 [1610 rows x 30 columns],
 [258,
  1589,
  764,
  447,
  775,
  8,
  914,
  818,
  1139,
  641,
  580,
  1129,
  1131,
  191,
  1171,
  85,
  1411,
  1100,
  1165,
  1586,
  1551,
  368,
  532,
  1525,
  692,
  470,
  1010,
  426,
  1553,
  376,
  316,
  800,
  652,
  405,
  142,
  1405,
  682,
  1317,
  490,
  678,
  734,
  418,
  1531,
  1526,
  557,
  831,
  1578,
  1220,
  1211,
  52,
  1421,
  29,
  1229,
  391,
  1314,
  962,
  1107,
  296,
  663,
  1099,
  1137,
  1365,
  1213,
  1140,
  1330,
  111,
  211,
  395,
  633,
  32,
  1251,
  730,
  1583,
  441,
  431,
  335,
  614,
  956,
  572,
  1244,
  406,
  896,
  1495,
  232,
  262,
  1175,
  1126,
  617,
  5,
  270,
  416,
  415,
  392,
  1306,
  121,
  387,
  1163,
  899,
  1180,
  28,
  74,
  513,
  355,
  276,
  1017,
  1483,
  333,
  1303,
  917,
  1591,
  836,
  46,
  238,
  710,
  1150,
  885,
  478,
  966,
  670,
  1227,
  865,
  629,
  655,
  1368,
  1518,
  141,
  735,
  1556,
  1195,
  1356,
  957,
  94,
  492,
  379,
  1497,
  1253,
  474,
  410,
  6,
  107,
  1033,
  637,
  1073,
  1068,
  727,
  96,
  237,
  327,
  1353,
  777,
  1270,
  1420,
  177,
  278,
  1034,
  420,
  1164,
  632,
  308,
  265,
  44,
  181,
  389,
  553,
  1085,
  115,
  1247,
  1416,
  1600,
  449,
  1069,
  1296,
  805,
  281,
  1293,
  251,
  1282,
  78,
  1560,
  901,
  30,
  1433,
  351,
  190,
  319,
  571,
  1005,
  943,
  802,
  1250,
  832,
  1307,
  871,
  653,
  1389,
  1511,
  1457,
  500,
  1574,
  508,
  253,
  1248,
  562,
  386,
  1086,
  829,
  72,
  599,
  69,
  1454,
  1265,
  1066,
  1298,
  344,
  1121,
  1393,
  1098,
  1231,
  187,
  1260,
  1113,
  989,
  235,
  1216,
  656,
  309,
  518,
  982,
  648,
  1585,
  613,
  1145,
  1025,
  585,
  551,
  1552,
  119,
  1466,
  298,
  38,
  1012,
  1568,
  1173,
  941,
  59,
  810,
  646,
  950,
  1396,
  774,
  1115,
  297,
  995,
  1304,
  76,
  741,
  848,
  429,
  731,
  606,
  1205,
  249,
  459,
  1049,
  1092,
  986,
  1355,
  75,
  1360,
  1288,
  497,
  42,
  973,
  683,
  257,
  1144,
  808,
  967,
  558,
  291,
  1204,
  793,
  860,
  337,
  1197,
  701,
  895,
  738,
  221,
  1337,
  776,
  1187,
  889,
  60,
  514,
  922,
  477,
  769,
  1463,
  1414,
  1087,
  424,
  207,
  1475,
  567,
  154,
  920,
  321,
  151,
  1321,
  1257,
  564,
  1608,
  798,
  1209,
  1176,
  1026,
  961,
  902,
  893,
  1441,
  991,
  1523,
  858,
  1445,
  218,
  1348,
  1561,
  1061,
  825,
  1151,
  186,
  894,
  1036,
  219,
  139,
  1102,
  1607,
  1492,
  582,
  20,
  1275,
  126,
  779,
  18,
  954,
  58,
  1169,
  687,
  102,
  821,
  511,
  413,
  1482,
  872,
  1083,
  907,
  345,
  1022,
  364,
  1599,
  105,
  519,
  1267,
  493,
  1111,
  1521,
  1594,
  767,
  1058,
  1563,
  358,
  39,
  1572,
  529,
  712,
  631,
  108,
  1122,
  1079,
  635,
  48,
  1358,
  1562,
  275,
  307,
  594,
  1127,
  1152,
  1009,
  1590,
  576,
  555,
  1418,
  1436,
  439,
  1004,
  398,
  1222,
  167,
  1442,
  1249,
  524,
  230,
  1490,
  1601,
  97,
  600,
  1091,
  269,
  1596,
  348,
  1161,
  1089,
  185,
  1370,
  451,
  930,
  1313,
  1208,
  1134,
  213,
  328,
  458,
  504,
  1448,
  971,
  1262,
  1071,
  1573,
  1519,
  575,
  807,
  63,
  1472,
  396,
  1218,
  1346,
  1174,
  1577,
  689,
  1550,
  940,
  626,
  155,
  939,
  1359,
  171,
  287,
  1412,
  209,
  1343,
  12,
  1333,
  717,
  1045,
  1324,
  1544,
  1528,
  423,
  795,
  1109,
  36,
  1301,
  586,
  443,
  837,
  471,
  1046,
  1178,
  987,
  442,
  1146,
  1077,
  925,
  1217,
  589,
  1284,
  254,
  13,
  693,
  295,
  1373,
  1065,
  283,
  721,
  125,
  375,
  83,
  57,
  462,
  112,
  527,
  409,
  1280,
  129,
  50,
  1444,
  305,
  322,
  440,
  501,
  1135,
  1602,
  1527,
  156,
  346,
  266,
  1565,
  1308,
  1434,
  1226,
  481,
  1281,
  1258,
  130,
  823,
  1147,
  517,
  109,
  675,
  998,
  546,
  1055,
  749,
  671,
  166,
  1082,
  1588,
  306,
  620,
  911,
  1294,
  884,
  326,
  342,
  312,
  1388,
  799,
  669,
  875,
  496,
  846,
  1072,
  676,
  1011,
  117,
  1530,
  1202,
  522,
  1277,
  1331,
  24,
  1118,
  1566,
  537,
  7,
  696,
  204,
  1478,
  584,
  70,
  1285,
  215,
  1503,
  1097,
  135,
  172,
  997,
  1458,
  977,
  690,
  1570,
  1522,
  1537,
  742,
  932,
  1575,
  945,
  152,
  140,
  780,
  1413,
  1,
  4,
  1536,
  660,
  159,
  628,
  912,
  245,
  55,
  1088,
  26,
  820,
  1542,
  845,
  1106,
  1119,
  1302,
  969,
  700,
  436,
  691,
  372,
  81,
  11,
  751,
  408,
  1037,
  708,
  543,
  813,
  363,
  1299,
  578,
  814,
  873,
  1399,
  1264,
  137,
  1305,
  116,
  183,
  1236,
  1581,
  1532,
  1540,
  1538,
  1464,
  539,
  214,
  581,
  709,
  625,
  638,
  40,
  970,
  160,
  216,
  984,
  579,
  548,
  2,
  1580,
  1539,
  959,
  325,
  228,
  1369,
  711,
  1120,
  1564,
  1224,
  849,
  383,
  538,
  132,
  66,
  244,
  1379,
  1124,
  246,
  590,
  963,
  752,
  338,
  1329,
  1172,
  23,
  531,
  681,
  926,
  1449,
  694,
  828,
  772,
  916,
  286,
  604,
  120,
  1361,
  1341,
  1261,
  1052,
  1428,
  1104,
  131,
  611,
  790,
  703,
  644,
  467,
  336,
  469,
  255,
  833,
  1548,
  382,
  743,
  1332,
  887,
  946,
  174,
  1008,
  545,
  577,
  1516,
  208,
  1494,
  92,
  857,
  723,
  636,
  1093,
  890,
  992,
  197,
  704,
  736,
  552,
  722,
  1273,
  1016,
  1404,
  1326,
  616,
  642,
  43,
  510,
  168,
  157,
  1510,
  754,
  609,
  1024,
  550,
  733,
  1003,
  891,
  199,
  1156,
  1440,
  143,
  1096,
  1162,
  1114,
  771,
  787,
  1070,
  643,
  203,
  520,
  1014,
  290,
  1409,
  1064,
  273,
  1210,
  1297,
  1506,
  716,
  975,
  949,
  503,
  923,
  634,
  1212,
  1274,
  1400,
  759,
  834,
  1221,
  854,
  1237,
  863,
  1246,
  698,
  686,
  1439,
  870,
  145,
  1435,
  260,
  454,
  980,
  994,
  1579,
  422,
  1452,
  536,
  879,
  1166,
  303,
  433,
  1609,
  697,
  1048,
  277,
  1392,
  559,
  400,
  574,
  729,
  756],
 [0,
  3,
  9,
  10,
  14,
  15,
  16,
  17,
  19,
  21,
  22,
  25,
  27,
  31,
  33,
  34,
  35,
  37,
  41,
  45,
  47,
  49,
  51,
  53,
  54,
  56,
  61,
  62,
  64,
  65,
  67,
  68,
  71,
  73,
  77,
  79,
  80,
  82,
  84,
  86,
  87,
  88,
  89,
  90,
  91,
  93,
  95,
  98,
  99,
  100,
  101,
  103,
  104,
  106,
  110,
  113,
  114,
  118,
  122,
  123,
  124,
  127,
  128,
  133,
  134,
  136,
  138,
  144,
  146,
  147,
  148,
  149,
  150,
  153,
  158,
  161,
  162,
  163,
  164,
  165,
  169,
  170,
  173,
  175,
  176,
  178,
  179,
  180,
  182,
  184,
  188,
  189,
  192,
  193,
  194,
  195,
  196,
  198,
  200,
  201,
  202,
  205,
  206,
  210,
  212,
  217,
  220,
  222,
  223,
  224,
  225,
  226,
  227,
  229,
  231,
  233,
  234,
  236,
  239,
  240,
  241,
  242,
  243,
  247,
  248,
  250,
  252,
  256,
  259,
  261,
  263,
  264,
  267,
  268,
  271,
  272,
  274,
  279,
  280,
  282,
  284,
  285,
  288,
  289,
  292,
  293,
  294,
  299,
  300,
  301,
  302,
  304,
  310,
  311,
  313,
  314,
  315,
  317,
  318,
  320,
  323,
  324,
  329,
  330,
  331,
  332,
  334,
  339,
  340,
  341,
  343,
  347,
  349,
  350,
  352,
  353,
  354,
  356,
  357,
  359,
  360,
  361,
  362,
  365,
  366,
  367,
  369,
  370,
  371,
  373,
  374,
  377,
  378,
  380,
  381,
  384,
  385,
  388,
  390,
  393,
  394,
  397,
  399,
  401,
  402,
  403,
  404,
  407,
  411,
  412,
  414,
  417,
  419,
  421,
  425,
  427,
  428,
  430,
  432,
  434,
  435,
  437,
  438,
  444,
  445,
  446,
  448,
  450,
  452,
  453,
  455,
  456,
  457,
  460,
  461,
  463,
  464,
  465,
  466,
  468,
  472,
  473,
  475,
  476,
  479,
  480,
  482,
  483,
  484,
  485,
  486,
  487,
  488,
  489,
  491,
  494,
  495,
  498,
  499,
  502,
  505,
  506,
  507,
  509,
  512,
  515,
  516,
  521,
  523,
  525,
  526,
  528,
  530,
  533,
  534,
  535,
  540,
  541,
  542,
  544,
  547,
  549,
  554,
  556,
  560,
  561,
  563,
  565,
  566,
  568,
  569,
  570,
  573,
  583,
  587,
  588,
  591,
  592,
  593,
  595,
  596,
  597,
  598,
  601,
  602,
  603,
  605,
  607,
  608,
  610,
  612,
  615,
  618,
  619,
  621,
  622,
  623,
  624,
  627,
  630,
  639,
  640,
  645,
  647,
  649,
  650,
  651,
  654,
  657,
  658,
  659,
  661,
  662,
  664,
  665,
  666,
  667,
  668,
  672,
  673,
  674,
  677,
  679,
  680,
  684,
  685,
  688,
  695,
  699,
  702,
  705,
  706,
  707,
  713,
  714,
  715,
  718,
  719,
  720,
  724,
  725,
  726,
  728,
  732,
  737,
  739,
  740,
  744,
  745,
  746,
  747,
  748,
  750,
  753,
  755,
  757,
  758,
  760,
  761,
  762,
  763,
  765,
  766,
  768,
  770,
  773,
  778,
  781,
  782,
  783,
  784,
  785,
  786,
  788,
  789,
  791,
  792,
  794,
  796,
  797,
  801,
  803,
  804,
  806,
  809,
  811,
  812,
  815,
  816,
  817,
  819,
  822,
  824,
  826,
  827,
  830,
  835,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  847,
  850,
  851,
  852,
  853,
  855,
  856,
  859,
  861,
  862,
  864,
  866,
  867,
  868,
  869,
  874,
  876,
  877,
  878,
  880,
  881,
  882,
  883,
  886,
  888,
  892,
  897,
  898,
  900,
  903,
  904,
  905,
  906,
  908,
  909,
  910,
  913,
  915,
  918,
  919,
  921,
  924,
  927,
  928,
  929,
  931,
  933,
  934,
  935,
  936,
  937,
  938,
  942,
  944,
  947,
  948,
  951,
  952,
  953,
  955,
  958,
  960,
  964,
  965,
  968,
  972,
  974,
  976,
  978,
  979,
  981,
  983,
  985,
  988,
  990,
  993,
  996,
  999,
  1000,
  1001,
  1002,
  1006,
  1007,
  1013,
  1015,
  1018,
  1019,
  1020,
  1021,
  1023,
  1027,
  1028,
  1029,
  1030,
  1031,
  1032,
  1035,
  1038,
  1039,
  1040,
  1041,
  1042,
  1043,
  1044,
  1047,
  1050,
  1051,
  1053,
  1054,
  1056,
  1057,
  1059,
  1060,
  1062,
  1063,
  1067,
  1074,
  1075,
  1076,
  1078,
  1080,
  1081,
  1084,
  1090,
  1094,
  1095,
  1101,
  1103,
  1105,
  1108,
  1110,
  1112,
  1116,
  1117,
  1123,
  1125,
  1128,
  1130,
  1132,
  1133,
  1136,
  1138,
  1141,
  1142,
  1143,
  1148,
  1149,
  1153,
  1154,
  1155,
  1157,
  1158,
  1159,
  1160,
  1167,
  1168,
  1170,
  1177,
  1179,
  1181,
  1182,
  1183,
  1184,
  1185,
  1186,
  1188,
  1189,
  1190,
  1191,
  1192,
  1193,
  1194,
  1196,
  1198,
  1199,
  1200,
  1201,
  1203,
  1206,
  1207,
  1214,
  1215,
  1219,
  1223,
  1225,
  1228,
  1230,
  1232,
  1233,
  1234,
  1235,
  1238,
  1239,
  1240,
  1241,
  1242,
  1243,
  1245,
  1252,
  1254,
  1255,
  1256,
  1259,
  1263,
  1266,
  1268,
  1269,
  1271,
  1272,
  1276,
  1278,
  1279,
  1283,
  1286,
  1287,
  1289,
  1290,
  1291,
  1292,
  1295,
  1300,
  1309,
  1310,
  1311,
  1312,
  1315,
  1316,
  1318,
  1319,
  1320,
  1322,
  1323,
  1325,
  1327,
  1328,
  1334,
  1335,
  1336,
  1338,
  1339,
  1340,
  1342,
  1344,
  1345,
  1347,
  1349,
  1350,
  1351,
  1352,
  1354,
  1357,
  1362,
  1363,
  1364,
  1366,
  1367,
  1371,
  1372,
  1374,
  1375,
  1376,
  1377,
  1378,
  1380,
  1381,
  1382,
  1383,
  1384,
  1385,
  1386,
  1387,
  1390,
  1391,
  1394,
  1395,
  1397,
  1398,
  1401,
  1402,
  1403,
  1406,
  1407,
  1408,
  1410,
  1415,
  1417,
  1419,
  1422,
  1423,
  1424,
  1425,
  1426,
  1427,
  1429,
  1430,
  1431,
  1432,
  1437,
  1438,
  1443,
  1446,
  1447,
  1450,
  1451,
  1453,
  1455,
  1456,
  1459,
  1460,
  1461,
  1462,
  1465,
  1467,
  1468,
  1469,
  1470,
  1471,
  1473,
  1474,
  1476,
  1477,
  1479,
  1480,
  1481,
  1484,
  1485,
  1486,
  1487,
  1488,
  1489,
  1491,
  1493,
  1496,
  1498,
  1499,
  1500,
  1501,
  1502,
  1504,
  1505,
  1507,
  1508,
  1509,
  1512,
  1513,
  1514,
  1515,
  1517,
  1520,
  1524,
  1529,
  1533,
  1534,
  1535,
  1541,
  1543,
  1545,
  1546,
  1547,
  1549,
  1554,
  1555,
  1557,
  1558,
  1559,
  1567,
  1569,
  1571,
  1576,
  1582,
  1584,
  1587,
  1592,
  1593,
  1595,
  1597,
  1598,
  1603,
  1604,
  1605,
  1606])

In [26]:
#randomly choosing the indexes that will be male (target=1)
indexes=list(range(len(final_subj_male)))
indexes_male=random.sample(indexes, k = int(len(indexes)/2))

#creating the target
target=np.zeros((len(final_subj_male)))
target[indexes_male]=1

#choosing the phrases
data_all_same=[]
for i in range(len(final_subj_male)):
    if i in indexes_male:
        data_all_same.append(final_all_male.loc[i])
    else:
        data_all_same.append(final_all_fem.loc[i])
data_all_same=pd.DataFrame(data_all_same)
data_all_same

#saving the data_set+target
data=[[data_all_same.loc[i],target[i]] for i in range(len(target))]

with open('data_all_same.pkl', 'wb') as f:
    pickle.dump(data,f)

### Only the subject is the same gender
+ from the datasets:
    + final_subj_male
    + final_subj_fem
+ to the dataset:
    + data_subj

In [27]:
#randomly choosing the indexes that will be male (target=1)
indexes=list(range(len(final_subj_male)))
indexes_male=random.sample(indexes, k = int(len(indexes)/2))

#creating the target
target=np.zeros((len(final_subj_male)))
target[indexes_male]=1

#choosing the phrases
data_subj=[]
for i in range(len(final_subj_male)):
    if i in indexes_male:
        data_subj.append(final_subj_male.loc[i])
    else:
        data_subj.append(final_subj_fem.loc[i])
        
data_subj=pd.DataFrame(data_subj)

#saving the data_set+target
data=[[data_subj.loc[i],target[i]] for i in range(len(target))]

with open('data_subj.pkl', 'wb') as f:
    pickle.dump(data,f)

In [28]:
dataframe_male=final_all_male
dataframe_female=final_all_fem

#randomly choosing the indexes that will be male (target=1)
indexes=list(range(len(dataframe_male)))
indexes_male=random.sample(indexes, k = int(len(indexes)/2))
indexes_female=[i for i in list(range(len(dataframe_male))) if i not in indexes_male]

#creating the target
target=np.zeros((len(final_subj_male)))
target[indexes_male]=1

#choosing the phrases
df_male=dataframe_male.iloc[indexes_male]
df_male.insert(0, 'target', np.ones(len(indexes_male)))
df_female=dataframe_female.iloc[indexes_female]
df_female.insert(0, 'target', np.zeros(len(indexes_male)))

df= pd.concat([df_male,df_female])
df=df.sort_index()
df

,target,0,1,2,3,4,5,6,7,8,...,19,20,21,22,23,24,25,26,27,28
0,1.0,Shortly,afterwards,",",he,visits,Netherfield,",",Mr.,Bradley,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,She,appears,attracted,to,Lucie,Scott,(,the,eldest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,He,declines,to,dance,with,Caleb,(,the,second-eldest,...,enough,to,tempt,him,.,NaN,NaN,NaN,NaN,NaN
3,1.0,He,is,a,pompous,",",obsequious,clergyman,who,intends,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,After,learning,that,Freddie,may,soon,be,engaged,",",...,both,age,and,beauty,.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,1.0,Adam,'s,father,",",Scott,Robbie,Walton,",",was,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,0.0,A,girl,named,Edie,Sutton,was,the,unrequited,love,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,1.0,William,'s,father,gets,into,debt,and,the,family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,0.0,Her,sister,Kate,notices,that,she,is,less,lively,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,1.0,His,husband,tends,to,Billy,",",and,the,children,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
len(indexes_female)

805