In [1]:
import pandas as pd
import numpy as np
import random
import pickle

SEED=1234
random.seed(SEED)
np.random.seed(SEED)

In [2]:
#open the excel file
df_original=pd.read_excel('all_phrases.xlsx',index_col=None, header=None)

/home/hjall/anaconda3/lib/python3.11/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [4]:
df=df_original.copy()
df=df[df[0].isna()] #here I deleted all the phrases that should be checked

original_phrases=df[df[2]=='Original'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)

#ground_truths
all_female_phrases_gt=df[df[2]=='All Female'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)
all_male_phrases_gt=df[df[2]=='All Male'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)
female_sub_phrases_gt=df[df[2]=='Subject Female'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)
male_sub_phrases_gt=df[df[2]=='Subject Male'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)

print(int(df_original.shape[0]/5),original_phrases.shape,all_female_phrases_gt.shape,all_male_phrases_gt.shape,female_sub_phrases_gt.shape,male_sub_phrases_gt.shape)

1687 (1610, 29) (1610, 29) (1610, 29) (1610, 29) (1610, 29)

# change name_female to name_female_subj/_obj

In [5]:
original_phrases=df[df[2]=='Original'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)

#ground_truths
all_female_phrases_gt=df[df[2]=='All Female'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)
all_male_phrases_gt=df[df[2]=='All Male'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)
female_sub_phrases_gt=df[df[2]=='Subject Female'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)
male_sub_phrases_gt=df[df[2]=='Subject Male'].drop([0,1,2],axis=1).reset_index().drop(['index'],axis=1)


# with open('original_before.pkl', 'wb') as f:
#     pickle.dump(original_phrases, f)
    
# with open('all_fem_before.pkl', 'wb') as f:
#     pickle.dump(all_female_phrases_gt, f) 
    
# with open('all_male_before.pkl', 'wb') as f:
#     pickle.dump(all_male_phrases_gt, f)
    
# with open('subj_fem_before.pkl', 'wb') as f:
#     pickle.dump(female_sub_phrases_gt, f)

# with open('subj_male_before.pkl', 'wb') as f:
#     pickle.dump(male_sub_phrases_gt, f)

In [6]:
original_phrases
all_female_phrases_gt

,3,4,5,6,7,8,9,10,11,12,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,she,NaN,NaN,NaN,Mrs.,surname_1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,She,NaN,NaN,NaN,name_female_1,surname_1,NaN,NaN,NaN,surname_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,She,NaN,NaN,NaN,NaN,name_female_1,NaN,NaN,NaN,surname_1,...,NaN,NaN,NaN,her,NaN,NaN,NaN,NaN,NaN,NaN
3,She,NaN,NaN,NaN,NaN,NaN,clergywoman,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,name_female_1,NaN,NaN,NaN,NaN,NaN,she,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605,name_female_1,NaN,NaN,NaN,name_female_2,name_female_3,surname_1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,NaN,NaN,NaN,name_female_1,surname_1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1607,name_female_1,NaN,mother,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1608,NaN,sister,name_female_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1609,Her,NaN,NaN,NaN,name_female_1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ===================

In [7]:
def change_words(original_phrase,ground_truth):
    new_phrase=original_phrase.copy()
    for j in list(ground_truth.index):
        if not pd.isna(ground_truth.loc[j]):
            new_phrase.loc[j]=ground_truth.loc[j]
    return list(new_phrase)

In [8]:
all_fem=[]
all_male=[]
subj_fem=[]
subj_male=[]
for idx in list(original_phrases.index):
    all_fem_phrase=change_words(original_phrases.loc[idx],all_female_phrases_gt.loc[idx])
    all_fem.append(all_fem_phrase)
    
    all_male_phrase=change_words(original_phrases.loc[idx],all_male_phrases_gt.loc[idx])
    all_male.append(all_male_phrase)
    
    subj_fem_phrase=change_words(original_phrases.loc[idx],female_sub_phrases_gt.loc[idx])
    subj_fem.append(subj_fem_phrase)
    
    subj_male_phrase=change_words(original_phrases.loc[idx],male_sub_phrases_gt.loc[idx])
    subj_male.append(subj_male_phrase)
    
all_fem=pd.DataFrame(all_fem)
all_male=pd.DataFrame(all_male)
subj_fem=pd.DataFrame(subj_fem)
subj_male=pd.DataFrame(subj_male)

## Changes to the names and surnames
+ for the surnames I deleted the ones that had "'" such as O'brain (that's why there are only 248 surnames and not 250)
+ for both I deleted the (sur)names that ended in "s"

In [13]:
female_names = pd.read_csv('Top250Female1996-2019.txt', lineterminator="\n", header=None)
male_names = pd.read_csv('Top250Male1996-2019.txt', lineterminator="\n", header=None)
surnames = pd.read_csv('Top250Surnames1991-2000.txt', lineterminator="\n", header=None) 

print(female_names.shape,male_names.shape,surnames.shape)

(250, 1) (250, 1) (248, 1)

In [14]:
female_names=pd.DataFrame([name for name in list(female_names[0]) if name[-1]!='s'])
male_names=pd.DataFrame([name for name in list(male_names[0]) if name[-1]!='s'])
surnames=pd.DataFrame([name for name in list(surnames[0]) if (name[-1]!='s' or name.find("'") != -1)])

female_names=list(name[0] for name in female_names.values)
male_names=list(name[0] for name in male_names.values)
surnames=list(name[0] for name in surnames.values)

print(len(female_names),len(male_names),len(surnames))

245 231 193

In [15]:

def change_names(phrase):
    p=phrase.copy()

    for word_idx in list(p.index):
        if str(p.loc[word_idx])[:9]=='name_male':
            p.loc[word_idx]=male_names[int(p.loc[word_idx][-1])-1] #in these phrases the biggest amount of different names is 4 but if there are more than 9, use the str.rfind
            #print(1)
        elif str(p.loc[word_idx])[:11]=='name_female':
            p.loc[word_idx]=female_names[int(p.loc[word_idx][-1])-1]
            #print(2)
        elif str(p.loc[word_idx])[:7]=='surname':
            if p.loc[word_idx][-2:]=='pl':
                p.loc[word_idx]=surnames[int(p.loc[word_idx][-4])-1]+'s'
             #   print(3)
            else:
                p.loc[word_idx]=surnames[int(p.loc[word_idx][-1])-1]
              #  print(4)
    #print(p)
    return p

In [16]:
final_all_fem=[]
final_all_male=[]
final_subj_fem=[]
final_subj_male=[]
for idx in all_fem.index:
    random.shuffle(female_names)
    random.shuffle(male_names)
    random.shuffle(surnames)
    
    phrase1=change_names(all_fem.iloc[idx])
    final_all_fem.append(phrase1)
    
    phrase2=change_names(all_male.iloc[idx])
    final_all_male.append(phrase2)
    
    phrase3=change_names(subj_fem.iloc[idx])
    final_subj_fem.append(phrase3)
    
    phrase4=change_names(subj_male.iloc[idx])
    final_subj_male.append(phrase4)

In [17]:
final_all_fem=pd.DataFrame(final_all_fem)
final_all_male=pd.DataFrame(final_all_male)
final_subj_fem=pd.DataFrame(final_subj_fem)
final_subj_male=pd.DataFrame(final_subj_male)

In [18]:
# Same till here

In [19]:
def create_train_val_datasets(final_male,final_female):
    SEED=1234
    random.seed(SEED)
    frac=0.8
    indexes=list(final_male.index)
    train_idx=random.sample(indexes, k = int(len(indexes)*frac))
    val_idx=[i for i in list(range(len(final_male))) if i not in train_idx]
    
    #trianing dataset
    #selects the lines for the training dataset
    #these are two datasets that will then be used to choose between female and male after
    df_training_male=final_male.iloc[train_idx]
    df_training_female=final_female.iloc[train_idx]

    #creating training dataset
    indexes_male=random.sample(list(df_training_male.index), k = int(len(list(df_training_male.index))/2))
    indexes_female=[i for i in train_idx if i not in indexes_male]
    
    
    #selects the lines that are female or male from the training datasets
    df_male=df_training_male.loc[indexes_male]
    df_female=df_training_female.loc[indexes_female]

    df_male.insert(0, 'target', 1)
    df_female.insert(0, 'target', 0)
    
    #concatenate dataframes to create dataset
    training_df= pd.concat([df_male,df_female]).sort_index()
   
    #validation dataset    
    #selects the lines for the validation dataset
    df_validation_male=final_male.iloc[val_idx]
    df_validation_female=final_female.iloc[val_idx]
    
    df_validation_male.insert(0, 'target', np.ones(len(df_validation_male)))
    df_validation_female.insert(0, 'target', np.zeros(len(df_validation_female)))
    
    return training_df,df_validation_male,df_validation_female,val_idx,train_idx

In [20]:
training_df_all,df_validation_male_all,df_validation_female_all,val_idx_all,train_idx_all=create_train_val_datasets(final_all_male,final_all_fem)
training_df_subj,df_validation_male_subj,df_validation_female_subj,val_idx_subj,train_idx_subj=create_train_val_datasets(final_subj_male,final_subj_fem)

In [21]:
with open('training_df_all.pkl', 'wb') as f:
    pickle.dump(training_df_all, f)
    
with open('df_validation_male_all.pkl', 'wb') as f:
    pickle.dump(df_validation_male_all, f)

with open('df_validation_female_all.pkl', 'wb') as f:
    pickle.dump(df_validation_female_all, f)

with open('training_df_subj.pkl', 'wb') as f:
    pickle.dump(training_df_subj, f)
    
with open('df_validation_male_subj.pkl', 'wb') as f:
    pickle.dump(df_validation_male_subj, f)

with open('df_validation_female_subj.pkl', 'wb') as f:
    pickle.dump(df_validation_female_subj, f)

In [22]:
len(original_phrases)
#creation of the ground truth
#all dataset
gt_subj = pd.DataFrame(np.zeros(female_sub_phrases_gt.shape))
gt_all = pd.DataFrame(np.zeros(female_sub_phrases_gt.shape))

for i in range(len(original_phrases)):
  phrase_f=all_female_phrases_gt.iloc[i]
  phrase_m=all_male_phrases_gt.iloc[i]
  for word_idx in range(len(phrase_f)):
     word_idx+=3
     if str(phrase_f[word_idx])!=str(phrase_m[word_idx]):
       gt_all.iloc[i][word_idx]=1


#subj dataset
gt_subj = pd.DataFrame(np.zeros(female_sub_phrases_gt.shape))
gt_subj

for i in range(len(original_phrases)):
  phrase_f=female_sub_phrases_gt.iloc[i]
  phrase_m=male_sub_phrases_gt.iloc[i]
  for word_idx in range(len(phrase_f)):
     word_idx+=3
     if str(phrase_f[word_idx])!=str(phrase_m[word_idx]):
       gt_subj.iloc[i][word_idx]=1

In [23]:
gt_subj_val=gt_subj.copy().loc[val_idx_subj]
gt_subj_train=gt_subj.copy().loc[train_idx_subj]
gt_all_val=gt_all.copy().loc[val_idx_subj] # Should this be val_idx_all?

# Should this be train_idx_all? 
# Maybe not severe since we use the same seed
gt_all_train=gt_all.copy().loc[train_idx_subj]

In [24]:
with open('gt_subj_val.pkl', 'wb') as f:
    pickle.dump(gt_subj_val, f)
    
with open('gt_subj_train.pkl', 'wb') as f:
    pickle.dump(gt_subj_train, f)
    
with open('gt_all_val.pkl', 'wb') as f:
    pickle.dump(gt_all_val, f)
    
with open('gt_all_train.pkl', 'wb') as f:
    pickle.dump(gt_all_train, f)

# Create data_all_same and data_sub

## Creating the two datasets
+ There are two datasets:
    + one where the sentences are completly female or completly male
    + one where the subject (and words related to it) are female or male

+ For each dataset randomly half of the indexes are chosen to be male and the other half female and these are the phrases that will have a target value of 0 for female and 1 for male.

### All same gender
+ from the datasets:
    + final_all_male
    + final_all_female
+ to the dataset:
    + data_all_same

+ Creating datasets:
    + receives a dataframe of phrases/tokens
    + chooses the indexes that will be male
    + adds a column in the beginning with the target value
    + saves the dataset
    + returns dataset and male indexes

In [27]:


#randomly choosing the indexes that will be male (target=1)
indexes=list(range(len(final_subj_male)))
indexes_male=random.sample(indexes, k = int(len(indexes)/2))

#creating the target
target=np.zeros((len(final_subj_male)))
target[indexes_male]=1

#choosing the phrases
data_all_same=[]
for i in range(len(final_subj_male)):
    if i in indexes_male:
        data_all_same.append(final_all_male.loc[i])
    else:
        data_all_same.append(final_all_fem.loc[i])
data_all_same=pd.DataFrame(data_all_same)
data_all_same

#saving the data_set+target
data = [[data_all_same.loc[i],target[i]] for i in range(len(target))]

print(data[0][0])
print(data[0][1])

# ??? First the file gets written by Create_Dataset and then the data_all_same.pkl is overwritten
with open('data_all_same.pkl', 'wb') as f:
    pickle.dump(data,f)

0         Shortly
1      afterwards
2               ,
3              he
4          visits
5     Netherfield
6               ,
7             Mr.
8           Patel
9              's
10         rented
11      residence
12              ,
13           much
14             to
15            Mr.
16           Bird
17             's
18        delight
19              .
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
26            NaN
27            NaN
28            NaN
Name: 0, dtype: object
1.0

### Only the subject is the same gender
+ from the datasets:
    + final_subj_male
    + final_subj_fem
+ to the dataset:
    + data_subj

In [ ]:
#randomly choosing the indexes that will be male (target=1)
indexes=list(range(len(final_subj_male)))
indexes_male=random.sample(indexes, k = int(len(indexes)/2))

#creating the target
target=np.zeros((len(final_subj_male)))
target[indexes_male]=1

#choosing the phrases
data_subj=[]
for i in range(len(final_subj_male)):
    if i in indexes_male:
        data_subj.append(final_subj_male.loc[i])
    else:
        data_subj.append(final_subj_fem.loc[i])
        
data_subj=pd.DataFrame(data_subj)

#saving the data_set+target
data=[[data_subj.loc[i],target[i]] for i in range(len(target))]

with open('data_subj.pkl', 'wb') as f:
    pickle.dump(data,f)